@charset 'UTF-8';

.mded, .mded * {box-sizing:border-box;}
.mded {
  min-width:640px;line-height:1.5;
  font-size:14px;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei","SimSun",sans-serif;
  background:#fff;color:#333;
}
  .mded-toolbar {position:relative;border:1px solid #ccc;}
      .wmd-button-row {position:relative;margin:0;padding:0 5px;height:30px;list-style-type:none;overflow:hidden;}
      	.wmd-spacer {float:left;margin:5px 4px;width:1px;height:20px;background:#ddd;}
          .wmd-button {float:left;margin:0 2px;cursor:pointer;}
          .wmd-previewmode-button, .wmd-livemode-button, .wmd-editmode-button, .wmd-spacer5, .wmd-fullscreen-button {float:right;}
              .wmd-button span {display:block;width:30px;height:30px;border:5px solid #fff;background:#fff url(editor@2x.png);background-size:380px 60px;}
              .wmd-button span:hover {background-color:#f6f6f6;border-color:#f6f6f6;}
              .editMode .wmd-editmode-button span, .mded.liveMode .wmd-livemode-button span, .mded.previewMode .wmd-previewmode-button span {background-color:#f6f6f6;border-color:#f6f6f6;}
              .editMode .wmd-editmode-button span {background-position:-320px -20px !important;}
              .liveMode .wmd-livemode-button span {background-position:-340px -20px !important;}
              .previewMode .wmd-previewmode-button span {background-position:-360px -20px !important;}
  .wmd {position:relative;border:1px solid #ccc;border-top:none;overflow:hidden;}
  	.wmd-input {
  		display:block;padding:6px 12px;width:100%;min-height:210px;border:none;outline:none;resize:none;color:#555;background:#fff;font-family:Menlo, Monaco, Consolas, "Courier New", monospace;font-size:14px;line-height:1.5;
  		-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  				box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);}
  	.wmd-preview {
  		position:absolute;top:0;left:100%;width:100%;height:100%;
  		-webkit-transition:all 0.3s ease;
  				transition:all 0.3s ease;}
  		 .wmd-preview-cont {padding:10px 20px;height:100%;overflow:auto;overflow-x:hidden;border-left:1px solid #ccc;background:#fff;font-size:14px;line-height:1.6;word-wrap:break-word;}
  	.previewMode .wmd-preview {left:0;}
  		.previewMode .wmd-preview-cont {border-left:none;background:#f6f6f6;}
  	.liveMode .wmd-preview {left:50%;width:50%;}
  		.liveMode .wmd-preview-cont {background:#f6f6f6;}
  	.liveMode .wmd-input {width:50%;}
  .mded-resize {margin:0 auto;width:120px;height:4px;left:50%;margin-top:2px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;cursor:row-resize;text-indent:110%;white-space:nowrap;overflow:hidden;text-transform:capitalize;}

blockquote {border-left:2px dotted #888;padding-left:5px;background:#d0f0ff;}

.fullscreenMode {position:fixed;top:0;left:0;width:100%;height:100%;}
	.fullscreenMode .mded-toolbar {border:none;border-bottom:1px solid #ccc;}
	.fullscreenMode .wmd {padding-bottom:31px;height:100%;border:none;}
	.fullscreenMode .wmd-input {height:100%;}
	.fullscreenMode .wmd-preview {padding-bottom:31px;}
	.fullscreenMode .mded_resize {display:none;}

/* prompt */
.wmd-prompt-background {background:#000;}
.wmd-prompt-dialog {background:#fff;}


/* 预览的样式 */
.wmd-preview-cont {line-height:1.6;word-wrap:break-word;}

  .wmd-preview-cont>h1:first-child, 
  .wmd-preview-cont blockquote:first-child, 
  .wmd-preview-cont h2:first-child, 
  .wmd-preview-cont h3:first-child, 
  .wmd-preview-cont h4:first-child, 
  .wmd-preview-cont ol:first-child, 
  .wmd-preview-cont p:first-child, 
  .wmd-preview-cont pre:first-child, 
  .wmd-preview-cont ul:first-child {margin-top:0;}
  .wmd-preview-cont blockquote ol:last-child, 
  .wmd-preview-cont blockquote p:last-child, 
  .wmd-preview-cont blockquote ul:last-child {margin-bottom:0;}

  .wmd-preview-cont blockquote, 
  .wmd-preview-cont h4, 
  .wmd-preview-cont ol, 
  .wmd-preview-cont p, 
  .wmd-preview-cont pre, 
  .wmd-preview-cont table, 
  .wmd-preview-cont ul {margin:1.5em 0;}

  .wmd-preview-cont p:first-child {margin-top:0;}
  .wmd-preview-cont p:last-child {margin-bottom:0;}
  .wmd-preview-cont a {
    color:#009a61;text-decoration:none;
    display:inline-block;max-width:320px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:top;
  }
  .wmd-preview-cont a:hover {color:#004e31;text-decoration:underline;}
  .wmd-preview-cont img {max-width:100%;}
  .wmd-preview-cont blockquote {margin:1.5em 0;padding:5px 20px;border-left:2px solid #009a61;background:#f6f6f6;color:#555;font-size:1em;}
  .wmd-preview-cont pre {display:block;padding:1em;overflow:auto;line-height:1.3;max-height:35em;color:#657b83;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAACVBMVEWAgIBaWlo+Pj7rTFvWAAAAA3RSTlMHCAw+VhR4AAAA+klEQVQoz4WSMW7EQAhFPxKWNh2FCx+HkaZI6RRb5DYbyVfIJXLKDCFoMbaTKSw/8ZnPAPjaH2xgZcUNUDADD7D9LtDBCLZ45fbkvo/30K8yeI64pPwl6znd/3n/Oe93P3ho9qeh72btTFzqkz0rsJle8Zr81OLEwZ1dv/713uWqvu2pl+k0fy7MWtj9r/tN5q/02z89qa/L4Dc2LvM93kezPfXlME/O86EbY/V9GB9ePX8G1/6W+/9h1dq/HGfTfzT3j/xNo7522Bfnqe5jO/fvhVthlfk434v3iO9zG/UOphyPeinPl1J8Gtaa7xPTa/Dk+RIs4deMvwGvcGsmsCvJ0AAAAABJRU5ErkJggg==) #f6f6f6;background-size:30px 30px;}

  .wmd-preview-cont h1, .wmd-preview-cont h2, .wmd-preview-cont h3 {margin:1.5em 0 0;}
  .wmd-preview-cont h1, .wmd-preview-cont h2 {padding-bottom:10px;border-bottom:1px solid #eee;}
  .wmd-preview-cont h1 {font-size:2.25em;}
  .wmd-preview-cont h2 {font-size:1.75em;}
  .wmd-preview-cont h3 {font-size:1.5em;}
  .wmd-preview-cont h4 {font-size:1.25em;}
  .wmd-preview-cont h5 {font-size:1em;}
  .wmd-preview-cont h6 {font-size:0.86em;}
  .wmd-preview-cont hr {margin:1.5em auto;border:0;border-top:2px dotted #eee;}